.logs-content {
  padding: 1.5rem;
  position: relative;
  overflow: auto;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background-color: black;
  color: white;
}

.logs-container {
  position: relative;
  overflow: auto;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.logs-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
